*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 18px;
}
header{
    position: relative;
}
#check{
    display: none;
}
header label{
    position: absolute;
    font-size: 1.2em;
    left: 50px ; 
    top: 30px;
    color: #fff;
    display: none;
    cursor: pointer;
}
header label:hover{
    cursor: pointer;
    color: #ff6565;
}
header nav{
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10em;
    margin-bottom: 4em;
}
header nav img{
    width: 10em;
}
header nav ul{
    list-style: none;
}
header nav ul li{
   display: inline; 
   padding: 1em;
}
header nav ul li a{
    text-decoration: none;
    display: inline;
    color: #fff;
}
header nav ul li a:hover{
    color: #ff6565;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.head div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 7em;
    color: white;
}
.head div div h1{
    font-size: 2em;
}
.head div button{
    background-color: #ff6565;
    padding: 8px;
    border: #ff6565 solid 3px;
    border-radius: 2em;
    margin-top: 3em;
    margin-bottom: 5em;
}
.head div button:hover{
    opacity: .9;
}
.head div button a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}
.head div p{
    width: 60%;
    text-align: center;
    font-size: .8em;
    margin-top: 1em;
}
.what{
    margin-top: 7em;
    height: 70vh;
    width: 100%;
}
.what div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.what1{
    width: 55%;
}
.what1 p{
    padding-top: 2em;
    text-align: center;
    font-size: .8em;
}
#services{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#services div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
}
#services div i{
    color: #ff6565;
    font-size: 2em;
    margin-bottom: .3em;
}
#services div h2{
    font-size: 1.2em;
    margin-bottom: .5em;
}
#services div p{
    text-align: center;
    font-size: .7em;
}
















@media screen and (max-width: 580px){
    body{
        font-size: 16px;
        background-position: top center;
        background-size: 930px;
    }
    header label{
        display: block;
        display: inline-flex;
    }
    #check:checked ~ .icons #menu {
        display: none;
    }
    #check:checked ~ .icons #close {
        display: block;
    } 
    #check:checked~ .nav #nav {
        display: block;
    }
    header nav img{
        width: 10em;
        margin-top: 25px;
    }
    header nav{
        height: 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 10em;
        margin-bottom: 4em;
    }
    header nav ul{
        margin-top: 3em;
        width: 100%;
    }
    #nav{
        display: none;
    }
    header nav ul li{
        display: block;
     }
     .icons #close{
        display: none;
     }
     .head div{
        width: 100%;
        font-size: .8em;
    }
    .head div button{
        font-size: .7em;
    }
    .head div p{
        font-size: .7em;
    }
    .what{
        padding-top: 10em;
    }
    #services{
        flex-direction: column;
        margin: 2em;
        padding: 2em;
    }
    #services div{
        padding: 2em;
    }
}